ZOHO_SMTP_HOST=smtppro.zoho.eu
ZOHO_SMTP_PORT=465
ZOHO_SMTP_SECURE=true
ZOHO_SMTP_USER=info@prometo.app
ZOHO_SMTP_PASS=replace-with-zoho-app-password
BETA_FORM_TO=info@prometo.app
BETA_FORM_FROM=Prometo Website <info@prometo.app>
